<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Orientation Leader Interview Introduction</h1>
<h3>{{.Heading | printf "%s"}}</h3>
<ul>
    {{range .Point}}<li class="hangingindent">{{. | printf "%s"}}</li>{{end}}
</ul>

{{with .Image}}
    <p>
        {{if .LV}}<img src="images/LasVegas.jpg" alt="HTML" style="max-width: 100%">{{end}}
        {{if .AVHS}}<img src="images/ArborView.jpg" alt="HTML" style="max-width: 40%" class="flowRight">{{end}}
        {{if .CPP}}<img src="images/CPP.png" alt="HTML" style="max-width: 30%" class="flowLeft">{{end}}
        {{if .GitHub}}<img src="images/GitHub.jpg" alt="HTML" style="max-width: 55%" class="flowRight">{{end}}
        {{if .GoLang}}<img src="images/Golang.png" alt="HTML" style="max-width: 60%" class="flowLeft">{{end}}
        {{if .Akita}}<img src="images/Akita.png" alt="HTML" style="max-width: 30%" class="flowRight">{{end}}
        {{if .Baja}}<img src="images/NUBaja.png" alt="HTML" style="width: 50%" class="flowLeft">{{end}}
        {{if .NUSound}}<img src="images/NUSound.jpg" alt="HTML" style="max-width: 100%" class="flowRight">{{end}}
        {{if .RG}}<img src="images/RGIR28FE.jpg" alt="HTML" style="max-width: 100%">{{end}}
        {{if .BTBAM}}<img src="images/BTBAM.jpg" alt="HTML" style="max-width: 49%" class="flowLeft">{{end}}
        {{if .AAL}}<img src="images/AnimalsAsLeaders.jpg" alt="HTML" style="max-width: 49%" class="flowRight">{{end}}
        {{if .Paul}}<img src="images/PaulWaggoner.jpg" alt="HTML" style="max-width: 40%" class="flowLeft">{{end}}
        {{if .Alissa}}<img src="images/AlissaWhiteGluz.jpg" alt="HTML" style="max-width: 40%" class="flowRight">{{end}}
        {{if .Program}}<img src="images/ProgramNotEasy.png" alt="HTML" style="width: 70%" class="flowCenter">{{end}}
    </p>
{{end}}

<iframe width="1340" height="400" src="/links" frameborder="0"></iframe>
<footer>Micah Weston | follow me on github.com/red1bluelost</footer>
</body>
</html>