html, body {
	background: #6A0DAD; /* Beccapurple */
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h4, h5, h6 {
	color: rgb(107, 107, 132);
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 130%;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	color: white;
	background: dimgrey;
}
h1 {
	font: 1.6em "Times New Roman", Geneva, sans-serif;
	margin-bottom: .4em;
	color: black;
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}

p {
	font-size: 0.8em;
	margin-top: 5em;
	margin-bottom: 1em;
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
h3 {
	font-style: oblique;
	font-size:3em;
	margin-bottom: 0.6em;
}
ul {
	padding-left: 5em;
}
li {
	margin-bottom: 0.8em;
	font-size: 1.6em;
}
.hangingindent {
	padding-left: 20px ;
	text-indent: -50px ;
}
table {
	background: orange;
	margin-top: 1em;
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
td, th {
	padding: 10px;
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
img.flowRight {
	float: right;
	margin-left: 10px;
}
img.flowLeft {
	float: left;
	margin-right: 10px;
}
img.flowCenter {
	padding-left: 10em;
}
div {
	border: 2em black;
}
